# Reference Link: https://metallb.universe.tf/configuration/
---
apiVersion: metallb.io/v1beta1
kind: IPAddressPool
metadata:
  name: global-pool
  namespace: kube-system
spec:
  addresses:
{% for address in kubernetes_loadbalancer_addresses %}
  - {{ address }}
{% endfor %}
---
apiVersion: metallb.io/v1beta1
kind: L2Advertisement
metadata:
  name: global-adv
  namespace: kube-system
