# Ansible items
ansible_user     : "${ ansible_user }"
ansible_password : "${ ansible_password }"

# VM items
vm_os   : "ubuntu" # Choices : [ubuntu|rhel] - Ubuntu 20.04 LTS / RHEL ???
vm_arch : "amd64"  # Choices : [amd64] - 64-bit OS / ???

# System items
enable_cgroup_v2    : true                       # TODO - If needed hookup or remove flag
system_ssh_keys_dir : "${ system_ssh_keys_dir }" # Directory holding public keys to be used on each system

# Generic items
prefix : "${ prefix }"
deployment_type: "${ deployment_type }"

# Kubernetes - Common
#
# TODO: kubernetes_upgrade_allowed needs to be implemented to either
#       add or remove locks on the kubeadm, kubelet, kubectl packages
#
kubernetes_cluster_name    : "{{ prefix }}-oss" # NOTE: only change the prefix value above
kubernetes_version         : "${ cluster_version }"
kubernetes_upgrade_allowed : true
kubernetes_arch            : "{{ vm_arch }}"
kubernetes_cni             : "${ cluster_cni }"
kubernetes_cri             : "${ cluster_cri }"
kubernetes_service_subnet  : "${ cluster_service_subnet }"
kubernetes_pod_subnet      : "${ cluster_pod_subnet }"

# Kubernetes - VIP : https://kube-vip.io
# 
# Useful links:
#
#   VIP IP : https://kube-vip.chipzoller.dev/docs/installation/static/
#   VIP Cloud Provider IP Range : https://kube-vip.chipzoller.dev/docs/usage/cloud-provider/#the-kube-vip-cloud-provider-configmap
#
kubernetes_vip_version              : "${ kube_vip_version }"
kubernetes_vip_interface            : "${ kube_vip_interface }"
kubernetes_vip_ip                   : "${ kube_vip_ip }"
kubernetes_vip_loadbalanced_dns     : "${ kube_vip_dns }"
kubernetes_vip_cloud_provider_range : "${ kube_vip_range }"

# Kubernetes - Cluster Nodes

## Labels/Taints
##
##   The label names match the host names to apply these items
##   If the node names do not match you'll have to apply these
##   taints/labels by hand.
##
##   The format the label block is:
##
##       node_labels:
##         <node name pattern>:
##           - <label>
##           - <label>
##
##       The format the taint block is:
##
##       node_taints:
##         <node name pattern>:
##           - <taint>
##           - <taint>
##
##   NOTE: There are no quotes around the label and taint elements
##         These are literal converted to strings when applying
##         into the cluster
## 

## Labels
%{ if length(node_labels) != 0 ~}
node_labels:
%{ for k, v in node_labels ~}
%{ if length(v) != 0 ~}
  ${format("%s:\n", k)~}
%{ for lv in v ~}
  ${format("  - %s\n", lv)~}
%{ endfor ~}
%{ endif ~}
%{ endfor ~}
%{ endif ~}

## Taints
%{if length(node_taints) != 0 ~}
node_taints:
%{ for k, v in node_taints ~}
%{ if length(v) != 0 ~}
  ${format("%s:\n", k)~}
%{ for tv in v ~}
  ${format("  - %s\n", tv)~}
%{ endfor ~}
%{ endif ~}
%{ endfor ~}
%{ endif ~}

# Kubernetes - Control Plane
control_plane_ssh_key_name : ${ control_plane_ssh_key_name }

# Kubernetes - Compute Nodes

%{ if length(jump_ip) != 0 ~}
# Jump Server
jump_ip : "${jump_ip}"
%{ endif ~}

%{ if length(nfs_ip) != 0 ~}
# NFS Server
nfs_ip  : "${nfs_ip}"
%{ endif ~}
