---
- name: Copy cluster config
  ansible.builtin.template:
    src: "templates/{{ item }}.j2"
    dest: "/etc/kubernetes/{{ item }}.yaml"
    mode: '0600'
  with_items:
    - kubeadm-config
  tags:
    - install
    - update

# TODO: pod-network-cidr can conflict locally check with IT to ensure correct range.
- name: kubeadm init 
  ansible.builtin.command: kubeadm init --config /etc/kubernetes/kubeadm-config.yaml --upload-certs
  tags:
    - install

- name: Setup kubernetes .kube directory
  ansible.builtin.file:
    path: ~/.kube
    state: directory
    mode: '0755'
  tags:
    - install

  # Configure env for root.
- name: Configure env for root
  ansible.builtin.lineinfile:
    path: $HOME/.bashrc
    line: export KUBECONFIG=/etc/kubernetes/admin.conf
  tags:
    - install

- name: Copy admin.conf file
  ansible.builtin.copy:
    src: /etc/kubernetes/admin.conf
    dest: ~/.kube/config
    owner: root
    group: root
    mode: '0600'
    remote_src: yes
  tags:
    - install

- name: Fetch k8s config
  ansible.builtin.fetch:
    src: /etc/kubernetes/admin.conf
    dest: "{{ inventory_dir }}/{{ kubernetes_cluster_name }}-kubeconfig.conf"
    flat: yes
  tags:
    - install
