{
  "cloud": "AzurePublicCloud",
  "tenantId": "{{ azure_tenant_id }}",
  "subscriptionId": "{{ azure_subscription_id }}",
  "aadClientId": "{{ azure_client_id }}",
  "aadClientSecret": "{{ azure_client_secret }}",
  "resourceGroup": "{{ azure_resource_group }}",
  "location": "{{ azure_location }}",
  "vmType": "standard",
  "vnetName": "{{ azure_vnet_name }}",
  "subnetName": "{{ azure_subnet_name }}",
  "securityGroupName": "{{ azure_nsg_name | default(prefix + '-k8s-nsg') }}",
  "securityGroupResourceGroup": "{{ azure_resource_group }}",
  "loadBalancerSku": "{{ azure_lb_type }}",
  "maximumLoadBalancerRuleCount": 250,
  "disableAvailabilitySetNodes": false,
  "disableServiceAccountFromVMMSIdentity": false,
  "enableMultipleStandardLoadBalancers": false,
  "excludeLoadBalancerPorts": [],
  "excludeMasterFromStandardLB": false,
  "loadBalancerName": "{{ prefix }}-lb",
  "healthProbeRequestPath": "/healthz",
  "cloudProviderBackoffMode": "v2",
  "cloudProviderBackoff": true,
  "cloudProviderBackoffRetries": 6,
  "cloudProviderRateLimit": true,
  "cloudProviderRateLimitQPS": 3.0,
  "kubeAPIQPS": 6.0,
  "kubeAPIBurst": 12
}
