{
  "cloud": "AzurePublicCloud",
  "tenantId": "{{ azure_tenant_id }}",
  "subscriptionId": "{{ azure_subscription_id }}",
  "aadClientId": "{{ azure_client_id }}",
  "aadClientSecret": "{{ azure_client_secret }}",
  "resourceGroup": "{{ azure_resource_group }}",
  "location": "{{ azure_location }}",
  "vmType": "standard",
  "vnetName": "{{ prefix }}-vnet",
  "subnetName": "{{ prefix }}-subnet-k8s",
  "securityGroupName": "{{ azure_nsg_name | default(prefix + '-k8s-nsg') }}",
  "securityGroupResourceGroup": "{{ azure_resource_group }}",
  "loadBalancerSku": "Standard",
  "maximumLoadBalancerRuleCount": 250,
  "excludeMasterFromStandardLB": true,
  "disableAvailabilitySetNodes": false,
  "loadBalancerHealthProbeInterval": "5s",
  "loadBalancerHealthProbeUnhealthyThreshold": 3,
  "systemManagedLoadBalancerHealthProbeUserDefinedRule": false,
  "nlbHealthProbeInterval": "30s",
  "nlbHealthProbeUnhealthyThreshold": 3,
  "nlbHealthProbeRequestPath": "/healthz",
  "nlbInboundNatRulesCount": 0,
  "principalId": "",
  "primaryAvailabilitySetName": "",
  "primaryScaleSetName": "",
  "vmSetName": "",
  "providerVersion": "v{{ kubernetes_version }}",
  "useInstanceMetadata": true,
  "useCloudControllerManager": true,
  "cloudProviderBackoffMode": "v2",
  "cloudProviderBackoff": true,
  "cloudProviderBackoffRetries": 6,
  "cloudProviderBackoffJitter": 1.0,
  "cloudProviderRateLimit": true,
  "cloudProviderRateLimitQPS": 3.0,
  "cloudProviderRateLimitBucket": 10,
  "cloudProviderRateLimitQPSWrite": 3.0,
  "cloudProviderRateLimitBucketWrite": 10,
  "kubeAPIQPS": 6.0,
  "kubeAPIBurst": 12
}
