---
# This section includes base Calico installation configuration.
# For more information, see: https://docs.tigera.io/calico/latest/reference/installation/api#operator.tigera.io/v1.Installation
apiVersion: operator.tigera.io/v1
kind: Installation
metadata:
  name: default
spec:
  # Configures Calico networking.
  calicoNetwork:
    # Note: The ipPools section cannot be modified post-install.
    bgp: Disabled
    # Use kubernetes node InternalIP for VXLAN peer routing.
    # This avoids Calico using the wrong IP when firstFound picks up an unexpected interface.
    nodeAddressAutodetectionV4:
      kubernetes: NodeInternalIP
    ipPools:
    - cidr: {{ kubernetes_pod_subnet }}
      # Use VXLAN (always, not just cross-subnet) because Azure NICs do not have
      # IP forwarding enabled by default: unencapsulated cross-node pod traffic
      # is dropped by the Azure SDN when the destination is a pod IP.
      encapsulation: VXLAN
      natOutgoing: Enabled
      nodeSelector: all()
---
# This section configures the Calico API server.
# For more information, see: https://docs.tigera.io/calico/latest/reference/installation/api#operator.tigera.io/v1.APIServer
apiVersion: operator.tigera.io/v1
kind: APIServer 
metadata: 
  name: default 
spec: {}