# Reference Link: https://kube-vip.io/docs/usage/cloud-provider/#the-kube-vip-cloud-provider-configmap
apiVersion: v1
kind: ConfigMap
metadata:
  name: kubevip
  namespace: kube-system
data:
{% if kubernetes_loadbalancer == "kube_vip" %}
{% for address in kubernetes_loadbalancer_addresses %}
{% for key, value in address.items() %}
  {{ key }}: {{ value }}
{% endfor %}
{% endfor %}
{% else %}
{% for address in kubernetes_loadbalancer_addresses %}
  {{ address }}
{% endfor %}
{% endif %}